
.contactanos {
  font-family: 'Poppins', system-ui, sans-serif;
}

.foto-sede {
  width: 100%;
  height: 220px;          /* MISMA ALTURA PARA AMBAS */
  overflow: hidden;
  border-radius: 10px;
  margin-bottom: 15px;
}

.foto-sede img {
  width: 100%;
  height: 100%;
  object-fit: cover;      /* CLAVE */
  display: block;
}



.contactanos {
  padding: 60px 20px;
  background: #f5f5f5;
}

.header {
  text-align: center;
  margin-bottom: 40px;
}

.header h1 {
  font-size: 38px;
  color: #0f2a44;
  font-weight: 600;
  letter-spacing: -0.5px;
}

.header p {
  color: #555;
}

.descripcion-sede {
  font-size: 14px;
  color: #666;
  margin-bottom: 10px;
}

.sedes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 30px;
  max-width: 1200px;
  margin: auto;
}

.sede {
  background: white;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
  transition: transform 0.2s ease;
}

.sede:hover {
  transform: translateY(-4px);
}

.sede img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 15px;
}

.sede h2 {
  color: #0f2a44; 
  font-size: 22px;
  margin-top: 10px;
}

iframe {
  width: 100%;
  height: 240px;
  border: none;
  margin-top: 15px;
  border-radius: 10px;
}

.formulario {
  max-width: 500px;
  margin: 60px auto 0;
  background: white;
  padding: 30px;
  border-radius: 12px;
}


.form-desc {
  font-size: 14px;
  color: #666;
  margin-bottom: 20px;
  line-height: 1.5;
}


.campo {
  display: flex;
  flex-direction: column;
  gap: 6px;
}


label {
  font-size: 13px;
  font-weight: 500;
  color: #333;
}


.formulario form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.formulario h3 {
  margin-bottom: 15px;
  color: #0f2a44;
}


input, textarea {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-family: inherit;
  font-size: 14px;

}


input:focus,
textarea:focus {
  outline: none;
  border-color: #c62828;
}


button {
  background: #c62828;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 15px;
  font-weight: 600;
  transition: background 0.2s ease;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.nota {
  font-size: 12px;
  color: #777;
  margin-top: 10px;
  text-align: center;
}

button:hover {
  background: #a81f1f;
}


textarea {
  min-height: 120px;
}


/*Responsive */

@media (max-width: 768px) {
  .foto-sede {
    height: 180px;
  }
}